<footer>
    <section class="organizacao">
      <section class="caixa-das-sociais">
        <p class="siga">NOS SIGA:</p>
        <section class="sociais">
          <a href="#"
            ><img class="icons" src="../../../../public/images/insta.svg" alt="icone do instagram"
          /></a>
          <a href="#"
            ><img
              class="icons"
              src="../../../../public/images/facebook.svg"
              alt="icone do facebook"
          /></a>
          <a href="#"
            ><img class="icons" src="../../../../public/images/discord.svg" alt="icone do discord"
          /></a>
        </section>
      </section>
      <section class="footer-options">
        <section class="servicos">
          <p class="footerstrong">INFORMAÇÕES</p>
          <a href="../home/index.ejs">Home</a>
          <a href="../home/cursos.ejs">Aprenda</a>
          <a href="../home/sou-professor.ejs">Ensine</a>
          <a href="../home/quemsomos.ejs">Sobre</a>
        </section>
        <section class="servicos">
          <p class="footerstrong">SERVIÇOS</p>
          <a href="../home/cursos.ejs">Cursos</a>
          <a href="../home/planos.ejs">Planos</a>
        </section>
        <section class="servicos">
          <p class="footerstrong">Suporte</p>
          <a href="/suporte">Contato</a>
        </section>
      </section>
    </section>
    <p class="direitos">© 2024 Cappuensino. Todos os direitos reservados.</p>
    <section class="termos">
      <a href="../institucional/inst-seguranca.ejs">Segurança</a>
      <a href="../institucional/inst-acessibilidade.ejs"
        >Declaração de acessibilidade</a
      >
      <a href="../institucional/inst-privacidade.ejs">Política de Privacidade</a>
      <a href="../institucional/inst-termos-de-uso.ejs">Termos de Uso</a>
    </section>
  </footer>
  