<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="a-sem-materiais.css">
    <title>sem Materiais</title>
</head>
<body>
    <header>
        <!--
        Colocar o header aqui
        -->
    </header>
    <main>
        <p>Você ainda não tem materiais para acessar, complete mais aulas para consequi-los!</p>
        <img src="face.svg" alt="cara séria">
    </main>
</body>
</html>