<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Parabéns</title>
  <link rel="stylesheet" href="../../../../public/css/conclusao_exercicio.css" />
</head>
<body>
  <div class="card">
    <div class="content">
      <div class="left">
        <h1><span>PARA</span><br><span>BÉNS</span></h1>
        <img src="../../../../public/images/mao.svg" alt="Palmas" class="icon" />
      </div>
      <div class="right">
        <img src="../../../../public/images/carinha.svg" alt="Sucesso" class="icon big-icon" />
        <p>VOCÊ TERMINOU TODOS OS EXERCÍCIOS DESTA AULA!</p>
        <div class="buttons">
          <button class="btn">PRÓXIMA AULA <img src="../../../../public/images/setinha.svg" alt="Setinha" class="icon" /></button>
          <button class="btn">VOLTAR AO INÍCIO <img src="../../../../public/images/casinha.svg" alt="Casinha" class="icon" /></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
